@import "tailwindcss";

@theme {
  --color-background: #f6fdff;
  --color-foreground: #0e1517;
  --color-primary: #04338b;
  --color-secondary: #049aef;
  --color-accent: #dd1b04;
}

body {
  @apply bg-background text-foreground;
}
